html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
body {
  background: url('/assets/images/login_bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.header img {
  margin-top: 20px;
}
.loginBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginBox a {
  font-style: 12px;
}
.loginBox .layui-form {
  padding: 0 30px;
}
.loginBox .links {
  display: flex;
  /* 控制主轴的对齐方式 */
  justify-content: flex-end;
}
.loginBox .layui-form-item {
  position: relative;
}
.loginBox .layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.loginBox .layui-input {
  padding-left: 30px;
}
.loginBox .header-box {
  height: 60px;
  background: url('/assets/images/login_title.png') no-repeat center;
}
.loginBox .reg_box {
  display: none;
}
